export DOCKER_DEFAULT_PLATFORM=linux/amd64
export API="https://api.weather.com/v2/pws/observations/current"
export STATION_ID="KCORAMAH7"
export UNITS="e"
export API_KEY=$(op read --cache "op://Parents/Wunderground/API Key")
export RANDOM_SECRET="RANDOM_SECRET_VALUE2"
