export DOCKER_DEFAULT_PLATFORM=linux/amd64
export API="https://api.weatherlink.com/v2"
export KEY=$(op read --cache "op://Parents/WeatherLink/API/key")
export API_SECRET=$(op read --cache "op://Parents/WeatherLink/API/secret")
export RANDOM_SECRET="RANDOM_SECRET_VALUE2"
